<a class="flex flex-col space-y-3 group" href="{{ product.url }}">
    {% if product.featured_image != blank %}
        <div class="w-full overflow-hidden max-h-80">
            {{ product.featured_image | image_url: width:1600 | image_tag: class:"w-full max-h-full object-cover object-center transition transform group-hover:scale-105" }}
        </div>
    {% else %}
        {{ 'image' | placeholder_svg_tag }}
    {% endif %}
    <div>
        <span class="text-sm border-black group-hover:border-b">{{ product.title }}</span>
    </div>
    <div class="flex-1"></div>
    <span>{{ product.price | money_with_currency }}</span>
</a>