{{ 'utils.js' | asset_url | script_tag }}

{% liquid
    assign current_variant = product.selected_or_first_available_variant
%}

{% render 'cart-drawer'%}
{% form "product", product, x-data:"", x-ref:"product_form" %}
    <div id="product_container" class="flex flex-col md:flex-row min-h-screen  mx-auto mt-10 md:space-x-5 max-w-7xl px-5" @update-product.window="updateSections('products/'+'{{ product.handle }}', $event.detail.query, getSectionsId(), [])" x-data="{selectVariant:utils.selectVariant, addToCart:utils.addToCart, updateSections:utils.updateSections, getSectionsId:utils.getSectionsId}">
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        {%- comment -%}
            Images mobile
        {%- endcomment -%}
        <div class="swiper w-full max-h-80 md:hidden">
            <div class="swiper-wrapper">
                {% if current_variant.image != blank %}
                    {{ current_variant.image | image_url : width:1600 | image_tag: loading:"lazy", class:"swiper-slide w-full object-cover max-h-full"}}
                {% else %}
                    {% for image in product.images %}
                        {{ image | image_url : width:1600 | image_tag: loading:"lazy", class:"swiper-slide w-full object-cover max-h-full"}}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        {%- comment -%}
            Images desktop
        {%- endcomment -%}
        <div class="md:grid grid-cols-2 basis-4/6 hidden ">
            {% if current_variant.image != blank %}
                {{ current_variant.image | image_url : width:1600 | image_tag: loading:"lazy", class:"w-full object-cover col-span-2"}}
            {% else %}
                {% for image in product.images %}
                    {% if forloop.index == 1  %}
                        {{ image | image_url : width:1600 | image_tag: loading:"lazy", class:"w-full object-cover col-span-2"}}
                    {% else %}
                        {{ image | image_url : width:1600 | image_tag: loading:"lazy", class:"w-full object-cover"}}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>

        <div class="sticky flex flex-col self-start space-y-5 top-12 basis-2/6">
            <span class="text-3xl md:text-5xl">{{ product.title }}</span>
            <div class="flex space-x-5">
                {% if current_variant.price < current_variant.compare_at_price %}
                    <span class="text-sm text-gray-500 line-through">{{ current_variant.compare_at_price | money_with_currency }}</span>
                    <span class="text-xl">{{ current_variant.price | money_with_currency }}
                    </span>
                    {% if current_variant.available == true %}
                        <span class="flex items-center px-4 py-1 text-xs text-white bg-blue-600 rounded-full">Sale</span>
                    {% else %}
                        <span class="flex items-center px-4 py-1 text-xs bg-white rounded-full">Sold out</span>
                    {% endif %}

                {% else %}
                    <span class="text-xl">{{ current_variant.price | money_with_currency }}</span>
                    {% if current_variant.available == false %}
                        <span class="flex items-center px-4 py-1 text-xs bg-white rounded-full">Sold out</span>
                    {% endif %}
                {% endif %}
            </div>
            {% if product.has_only_default_variant == false %}
                {% for option in product.options_with_values %}
                    <div class="text-sm text-gray-500">{{ option.name }}</div>
                    <div class="flex flex-wrap gap-5" id="option-{{ option.position }}">
                        {% for value in option.values %}
                            <label @click="document.getElementById('{{ option.name }}-{{ forloop.index }}').click()" class="cursor-pointer px-5 py-2 bg-white border rounded-full border-black/70 hover:ring-1 hover:ring-black {% if option.selected_value == value %} bg-black text-white {% endif %}">{{ value }}</label>
                            <input class="hidden" type="radio" name="{{ option.name }}" id="{{ option.name }}-{{ forloop.index }}" value="{{ value }}" x-on:change="(selectVariant('{{ product.handle }}'))" {% if option.selected_value == value %} checked {% endif %}>
                        {% endfor %}
                    </div>
                {% endfor %}
                <select class="hidden" name="id" x-on:change="location.href = `{{ product.url }}?variant=${$event.target.value}`">
                    {% for variant in product.variants %}
                        <option value="{{ variant.id }}" {% if variant == current_variant %} selected="selected" {% endif %}></option>
                    {% endfor %}
                </select>
            {% endif %}
            <div class="text-sm text-gray-500">Quantity</div>
            <div class="{% if current_variant.available == false %} cursor-not-allowed {% endif %}">
                <div class="flex border border-black jusitfy-center w-36 {% if current_variant.available == false %} pointer-events-none opacity-75 border-opacity-75 {% endif %}">
                    <button @click="$refs.quantity_selector.stepDown()" class="flex items-center justify-center flex-1" type="button">
                        <img src="{{ 'minus.svg' | asset_url }}" alt="">
                    </button>
                    <input class="flex justify-center flex-1 min-w-0 border-0 focus-within:ring-black" id="" name="quantity" type="number" min="1" max="{{ current_variant.inventory_quantity }}" value="1" x-ref="quantity_selector">
                    <button @click="$refs.quantity_selector.stepUp()" class="flex items-center justify-center flex-1" type="button">
                        <img src="{{ 'plus.svg' | asset_url }}" alt="">
                    </button>
                </div>
            </div>

            {% if current_variant.available %}
                <button @click="addToCart($refs.product_form)" class="h-12 btn-secondary" type="button">Add to cart</button>
                {{ form | payment_button }}
            {% else %}
                <button class="h-12 border-opacity-75 opacity-75 cursor-not-allowed btn-secondary cursor hover:ring-0" disabled>Sold out</button>
            {% endif %}
        </div>
    </div>
{% endform %}
