{{ 'utils.js' | asset_url | script_tag }}

<div @update-cart.window="updateSections('cart', '', getSectionsId())" class="px-5 mx-auto mt-20 max-w-7xl" x-data="{updateSections:utils.updateSections, getSectionsId:utils.getSectionsId}">
    {% if cart.items[0] != blank %}
        {% form 'cart', cart %}
            <div class="flex flex-col space-y-10">
                <div class="flex items-center justify-between">
                    <span class="text-4xl">{{'sections.cart.title' | t }}</span>
                    <a class="underline" href="/products">Continue shopping</a>
                </div>
                <div class="mt-10 prose-th:font-light prose-th:py-5 prose-th:pl-4 prose-td:pl-4 prose-td:pt-4">
                    <table class="w-full table-auto">
                        <thead class="border-b">
                            <tr class="text-xs text-left">
                                <th>PRODUCT</th>
                                <th class="hidden md:table-cell">QUANTITY</th>
                                <th class="text-right">TOTAL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart.items %}
                                <tr x-data="{loading:false, quantity:'{{ item.quantity }}', updateCartItem:utils.updateCartItem}">
                                    <td>
                                        <div class="flex space-x-5 ">
                                            <div class="w-1/2 md:w-auto">
                                                {{ item.image | image_url: width: 200 | image_tag: class:"w-full object-cover" }}
                                            </div>
                                            <div class="flex flex-col w-1/2 space-y-4 text-sm md:w-auto ">
                                                <span>{{ item.title }}</span>
                                                <span class="font-light">{{ item.price | money_with_currency }}</span>
                                                <span class="font-light "></span>
                                                <div class="flex border border-black jusitfy-center w-36 md:hidden">
                                                    <button @click="updateCartItem('{{ item.id }}', parseInt(quantity, 10) - 1)" class="flex items-center justify-center flex-1" type="button">
                                                        <img src="{{ 'minus.svg' | asset_url }}" alt="">
                                                    </button>
                                                    <input class="flex justify-center flex-1 min-w-0 border-0 focus-within:ring-black" id="" max="100" min="1" name="quantity" type="number" x-bind:value="quantity">
                                                    <button @click="updateCartItem('{{ item.id }}', parseInt(quantity, 10) + 1)" class="flex items-center justify-center flex-1" type="button">
                                                        <img src="{{ 'plus.svg' | asset_url }}" alt="">
                                                    </button>
                                                </div>
                                                <button @click="updateCartItem('{{ item.id }}', 0)" class="md:hidden" type="button">
                                                    <img src="{{ 'delete.svg' | asset_url }}" alt="" class="w-5 h-5">
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="hidden md:table-cell">
                                        <div class="flex items-center justify-center space-x-5">
                                            <div class="flex border border-black jusitfy-center w-36 max-h-fit" :class="loading && 'pointer-events-none opacity-50 border-opacity-50'">
                                                <button @click="updateCartItem('{{ item.id }}', parseInt(quantity, 10) - 1)" class="flex items-center justify-center flex-1" type="button">
                                                    <img src="{{ 'minus.svg' | asset_url }}" alt="">
                                                </button>
                                                <input class="flex justify-center flex-1 min-w-0 border-0 focus-within:ring-black" id="" max="100" min="1" name="quantity" type="number" x-bind:value="quantity">
                                                <button @click="updateCartItem('{{ item.id }}', parseInt(quantity, 10) + 1)" class="flex items-center justify-center flex-1" type="button">
                                                    <img src="{{ 'plus.svg' | asset_url }}" alt="">
                                                </button>
                                            </div>
                                            <button @click="updateCartItem('{{ item.id }}', 0)" type="button" :class="loading && 'pointer-events-none opacity-50'">
                                                <img src="{{ 'delete.svg' | asset_url }}" alt="" class="w-5 h-5">
                                            </button>
                                        </div>
                                    </td>
                                    <td>
                                        <span x-show="!loading">{{ item.original_price | times: item.quantity | money_without_trailing_zeros }}</span>
                                        <div x-show="loading">
                                            {% render 'spinner' %}
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        {% endform %}
    {% else %}
        <div class="flex flex-col items-center justify-center space-y-16">
            <div class="flex flex-col space-y-6">
                <span class="text-4xl">Your cart is empty</span>
                <a class="h-12 mx-auto btn-primary max-w-48" href="/proudcts">Continue shopping</a>
            </div>
            <div class="flex-col space-y-6">
                <span class="text-2xl">Have an account?</span>
                <div class="flex justify-center">
                    <a class="whitespace-pre border-b border-black hover:border-b-2" href="/login">Log in
                    </a>
                    <span>to checkout faster</span>
                </div>
            </div>
        </div>
    {% endif %}

</div>

{% schema %}

{
    "name": "Items",
    "settings": [
        {
            "type": "header",
            "content": "Featured collection",
            "info": "Collection that shows in the cart"
        }, {
            "type": "text",
            "id": "featured_collection_name",
            "label": "Collection name",
            "default": "Featured collection"
        }, {
            "type": "collection",
            "id": "featured_collection",
            "label": "Featured collection"
        }
    ]
}

{% endschema %}